@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #9e9e9e;
    margin: 0 auto;
    text-align: center;
}

.game-canvas {
    /*position: relative;
    top: 50%;
    transform: translateY(-50%);*/
    margin-top: 64px;
    margin-bottom: 8px;
    border-radius: 2px;
}

.shadow {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
}

.options {
    padding: 8px;
    text-align: left;
    width: 854px;
    margin: 0 auto;
    background-color: #dddddd;
    border-radius: 2px;
}